@font-face {
    font-family: 'Sumeru Neue';
    src: url('https://github.com/Endercat-sia/Endercat/blob/main/SumeruNeue-Regular.woff2?raw=true') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

